.assess-page-body {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  background-color: #e7f8ff;
  overflow: auto;
}

.assessment-form {
  display: flex;
  flex-direction: column;
}

.assessment-trends-page-h1,
.assessment-trends-page-h2,
.create-assessment-label {
  padding-left: 5%;
  padding-right: 5%;
}

.create-assessment-input-submit {
  width: 80%;
}
