.Nav {
  height: 6em;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  background-color: #3892A6;
  color: white;
  padding: 0 5% 0 5%;
}

.Nav h1 {
  margin: 0;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 700;
}

.Nav h1 a {
  text-decoration: none;
  
}

.Nav__logged-in {
  width: 100%;
  height: 3em;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Nav__not-logged-in {
  display: flex;
  flex-direction: column;
}

.Nav__not-logged-in .Hyph {
  display: none;
}

.Nav__logged-in h1, .nav-link {
  color: white;
}

.nav-link {
  height: 50px;
  line-height: 50px;
}

@media screen and (min-width: 450px) {
  .Nav {
    align-items: baseline;
  }
  .Nav h1 {
    font-size: 22pt;
  }

  .Nav__not-logged-in {
    flex-direction: row;
  }

  .Nav__not-logged-in .Hyph {
    display: initial;
  }
}
